<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palfinder">

    <application
        android:name=".backend.ApplicationInitializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Palfinder">
        <activity
            android:name=".views.user.account.InitialAccountSetup"
            android:exported="true"
            android:label="@string/title_activity_initial_account_setup"
            android:theme="@style/Theme.Palfinder.NoActionBar" />
        <activity
            android:name=".views.user.SearchUserDemoActivity"
            android:exported="true" />
        <activity
            android:name=".views.events.EventActivity"
            android:exported="false" />
        <activity
            android:name=".views.tag.TagFormDemoActivity"
            android:exported="true" />
        <activity
            android:name=".views.groups.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.recover.password.RecoverPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".views.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.user.UserProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Palfinder.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
